
html {
    background-size: 1500px;
}

body {
    margin: 20px;
    font-family: "Viga";
}

.navbar {
    background-color: #4062bb;
    margin-bottom: 10px;
    border-radius: 5px;
}

.button {
    background-color: #52489c;
}

.box, .title {
    background-color: #023047;
    border-radius: 5px;
}

